{% extends "layout.html" %}
{% block body %}
    {% if catalogs is mapping %}
    <div class="container">
        <div class="card-deck mb-3 text-center">
        {% for catalog,tags in catalogs.items() %}
            {% if tags != 0 %}
                {% set totalImages = tags|length %}
            {% else %}
                {% set totalImages = 0 %}
            {% endif %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h6 class="my-0 font-weight-normal"><i class="fab fa-docker"></i> {{catalog}}</h6>
                </div>
                <div class="card-body">
                    {% if totalImages > 1 %}
                        <a href="repo/{{catalog}}">
                            <h3><span class="badge badge-light">{{totalImages}} images</span></h3>
                        </a>
                    {% else %}
                        <a href="repo/{{catalog}}">
                            <h3><span class="badge badge-light">{{totalImages}} image</span></h3>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
        {{ catalogs }}
    {% endif %}
{% endblock %}